* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #edf2f8;
  /* border: 2px solid green; */
}

/* .container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 7px;
} */
.profile {
  display: flex;
  color: white;
}
img {
  border-radius: 50%;
  border: 2px solid white;
}
.profiletext {
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
  line-height: 1.5;
}
.cards {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.card1 {
  margin: 20px;
  width: 75%;
}

.top,
.bottom {
  display: flex;
  flex-direction: row;
  gap: 19px;

  margin-bottom: 20px;
}
.toplarge,
.bottomlarge {
  width: 70%;
  background-color: #733fc8;
  height: 100%;
  padding: 9px;
  border-radius: 10px;
  box-shadow: 0px 2px 12px #49556b;
}
.toplarge h3,
.bottomlarge h3 {
  margin-top: 10px;
  color: #eae3f6;
  font-size: 22px;
}
.toplarge p,
.bottomlarge p {
  margin-top: 15px;
  color: #d6cfe5;
  font-size: 13px;
  height: 100%;
  line-height: 1.5;
}

.topsmall,
.bottomsmall {
  width: 28%;
  background-color: #49556b;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 2px 12px #49556b;
}
.topsmall h3,
.bottomsmall h3 {
  margin-top: 10px;
  color: #ebeef6;
  font-size: 22px;
}
.topsmall p,
.bottomsmall p {
  margin-top: 15px;
  color: #d6cfe5;
  font-size: 12px;
  line-height: 1.5;
}
.card2 {
  width: 26%;
  margin: 20px;
}

.side {
  background-color: white;
  padding: 9px;
  margin-bottom: 20px;
  /* padding-bottom: 19%; */
  border-radius: 10px;
  box-shadow: 0px 2px 12px #49556b;
}
.side h3 {
  margin-top: 10px;
  color: black;
  font-size: 22px;
}
.side p {
  margin-top: 15px;
  color: black;
  font-size: 15px;
  height: 100%;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .cards {
    flex-direction: column;
    width: 90%;
     margin-left: 20px !important;
  }
  .card1 {
    width: 100%;
    margin: 15px;
  }
  .top,
  .bottom {
    flex-direction: column;
  }
  .hey {
    font-size: 14px !important;
  }
  .toplarge,
  .bottomlarge {
    padding: 20px;
    width: 90%;
  }
  .para1 {
    font-size: 9.2px !important;
    font-weight: 100;
  }
  .para2 {
    font-size: 9.2px !important;
    font-weight: 120 !important;
  }
  .topsmall,
  .bottomsmall {
    padding: 20px;
    width: 90%;
  }
  .topsmall h3,
  .bottomsmall h3 {
    font-size: 12px;
  }
  .topsmall h4,
  .bottomsmall h4 {
    font-size: 14px;
  }
  .topsmall p,
  .bottomsmall p {
    font-size: 9px;
    font-weight: 140 !important;
  }
  .card2 {
    width: 90%;
  }
  .side {
    padding: 12px !important;
  }
  .card2 h3 {
    font-size: 16px;
  }
  .card2 p {
    font-size: 9.4px;
    font-weight: 140;
  }
}
